*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#1f2235;
  font-family:Arial;
}

.calculator{
  background:#1f2235;
  padding:25px;
  border-radius:25px;

  box-shadow:
  10px 10px 20px #141726,
  -10px -10px 20px #2a2d44;
}

#display{
  width:100%;
  height:80px;
  border:none;
  outline:none;
  margin-bottom:20px;
  border-radius:20px;
  background:#1f2235;
  color:white;
  font-size:35px;
  text-align:right;
  padding:20px;

  box-shadow:
  inset 5px 5px 10px #141726,
  inset -5px -5px 10px #2a2d44;
}

.buttons{
  display:grid;
  grid-template-columns:repeat(4,70px);
  gap:15px;
}

button{
  height:70px;
  border:none;
  border-radius:15px;
  background:#1f2235;
  color:white;
  font-size:25px;
  cursor:pointer;

  box-shadow:
  5px 5px 10px #141726,
  -5px -5px 10px #2a2d44;
}

button:active{
  box-shadow:
  inset 5px 5px 10px #141726,
  inset -5px -5px 10px #2a2d44;
}

.zero{
  grid-column:span 2;
}

.equal{
  background:#4b5efc;
}